In [1]:
x=10
if x<10:
    print("x chota h 10 se")

In [ ]:
x=20
if (x<10): ##comndition 20<10
    print("x 10 se chota h")
    
elif (x==20):
    print("x kivalue 20 h")

else:
    print("x 10 se bada h")

x kivalue 20 h

In [6]:
num=[2,3,5,67]
largest=num[0]
for nu in num:
    if nu>largest:
        largest=nu
        print("largest num is ",largest)

largest num is  3
largest num is  5
largest num is  67

In [ ]:
num=int(input("enter a num: "))
if (num%2)==0:
    print("num is even")
else:
    print("num is odd")

num is even

In [16]:
year=int(input("enter a year : "))
if (year%4==0):
    if (year%100==0):
        if(year%400==0):
            print("year is leap year")
        else:
            print("not leap year")
    else:
        print("year is leap year")

year is leap year

In [24]:
marks = int(input("Enter your marks: "))
if (marks>=90):
    print("grade 'A'")
elif(75<marks>86):
        print("grade 'B'")
elif(60<marks>74):
     print("grade 'C'")
elif(60>marks):
     print("grade 'D'")
else:
    print("invalid grade")

grade 'D'

In [25]:
year=2004
if (year%4==0):
    if (year%100==0):
        if(year%400==0):
            print("year is leap year")
        else:
            print("not leap year")
    else:
        print("year is leap year")

year is leap year